.sidebar-btn{
    display: grid;
    grid-template-columns: auto;
    
}

.side-link{
    color:rgb(251, 0, 0);
    padding: 5px;
    margin:5px;
    font-size: 20px;
   
}

@media screen and (max-width:680px) {
    .sidebar{
        z-index: 1;
    }
}

