.register-restaurant{
   display: flex;
   flex-direction: row;
   justify-content: center;
   border: 2px solid red;
}

@media (max-width:650px) {
     .register-img-div{
      display: none;
     }
}
.register-div{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.register-form{
   border: 6px solid black;
   width: 350px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   border-radius: 5px 5px;
   box-shadow: 2px 2px 4px 4px gray;
}


.input-box{
   width: 90%;
   height: 25px;
   margin-top: 5px;
   margin-bottom: 10px ;
}

.submit-button{
   width: 92%;
   height: 35px;
   color:white;
   margin-top: 10px;
   background-color: black;
   cursor: pointer;
   margin-bottom: 15px;
}

.heading{
   font-family: cursive;
   text-align: center;
   color:blue
}

.user-nav-link{
   text-decoration: none;
   color:blue;
}

.register-img{
   margin-top: 40%;
   margin-bottom:10%;
   width:400px;
   height: 500px;
}

.User-Type{
   display: none;
}
